@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form action="/Hello/Welcome" method="get">
    用户名：<input type="text" name="name"> <br />
    N值：<input type="text" name="n">
    <br />
    <input type="submit" value="提交">
    <input type="reset" value="重填">
</form>